<?xml version="1.0" encoding="UTF-8"?><config><settings><defaultMetric>IMPRESSION_COUNT</defaultMetric><theme>DARK</theme><factor>4</factor></settings><campaigns><campaign><name>Fa</name><impPath>C:\Users\asus\Desktop\2211小组作业\CSVfile\2_week_campaign_2\impression_log.csv</impPath><svrPath>C:\Users\asus\Desktop\2211小组作业\CSVfile\2_week_campaign_2\server_log.csv</svrPath><clkPath>C:\Users\asus\Desktop\2211小组作业\CSVfile\2_week_campaign_2\click_log.csv</clkPath></campaign></campaigns></config>