
/**
All styles not exclusive to a colour scheme
*/

/*GENERAL*/

* {
    -fx-text-fill: -fx-text-primary;
}

.bg-primary {
    -fx-background-color: -fx-bg-primary;
}

.bg-secondary {
    -fx-background-color: -fx-bg-secondary;
}

.text-secondary {
    -fx-text-fill: -fx-text-secondary;
}

.transparent {
    -fx-background-color: transparent;
}

/*HEADER*/

.topTitle {
	-fx-font-family: 'Sen';
	-fx-font-size: 40px;
	-fx-stroke-width: 0.5px;
	-fx-fill: white;
}

.topBackground {
	-fx-background-color: -fx-bg-4;
}

.scroll-bar {
    -fx-width: 3px;
    -fx-opacity: 0.4;
    -fx-background-color: -fx-bg-secondary;
}

.buttonStyle {
    -fx-font-weight: bold;
    -fx-font-size: 18px;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.6) , 3,0,0,2 );
    -fx-padding: 9 18 9 18;
	-fx-cursor: hand;
	-fx-text-fill: white;
	-fx-background-color: -fx-bg-tertiary;
}

.text-input {
    -fx-text-fill: -fx-bg-primary;
    -fx-padding: 6px;
    -fx-border-radius: 5;
    -fx-font-size: 16px;
}


/*MAIN MENU*/

.title-text {
    -fx-font-size: 60px;
    -fx-font-weight: bold;
}

.menu-btn {
    -fx-text-fill:white;
    -fx-background-radius: 50%;
    -fx-font-size: 30px;
    -fx-font-weight: bold;
    -fx-cursor: hand;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.6) , 3,0,0,2 );
    -fx-background-color: -fx-bg-tertiary;
}

.menu-btn:hover {
    -fx-background-color: -fx-text-primary;
    -fx-text-fill: -fx-bg-secondary;
}

.menu-text {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}

/*CAMPAIGN LIST*/

.campaign-list {
    -fx-padding: 5px;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.8) , 3,0,0,2 );
    -fx-background-radius: 10;
    -fx-background-color: -fx-bg-secondary;
}

.cl-title {
    -fx-font-size: 36px;
    -fx-font-weight: bold;
    -fx-text-fill: -fx-bg-tertiary;
}

.cl-campaign {
    -fx-font-size: 24px;
    -fx-cursor: hand;
}

.cl-campaign:hover {
    -fx-text-fill: -fx-bg-tertiary;
}

.cl-close {
    -fx-background-color: red;
    -fx-border-width: 0;
    -fx-text-fill: black;
    -fx-cursor: hand;
    -fx-background-radius: 10;
}

.settings-icon {
    -fx-cursor: hand;
}

.metric-btn {
    -fx-font-weight: bold;
    -fx-font-size: 18px;
    -fx-padding: 9 18 9 18;
	-fx-cursor: hand;
	-fx-border-color: #ffffff15;
	-fx-border-width: 0 0 1px 0;
	-fx-margin: 3px;
	-fx-background-color: -fx-bg-secondary;
	-fx-text-fill: -fx-text-primary;
}

.metric-btn:hover {
    -fx-background-color: -fx-bg-tertiary;
}

.btn-active {
    -fx-background-color: -fx-text-secondary;
    -fx-text-fill: -fx-bg-secondary;
}

/*LOAD PAGE*/

.load-page {
	-fx-font-size: 25px;
	-fx-font-weight: bold;
	-fx-padding: 15px;
	-fx-background-color: -fx-bg-primary;
	-fx-text-fill: -fx-text-primary;
}

/*FILTERS*/

.filter-title {
	-fx-font-size: 16px;
}

.filter-sub-heading {
	-fx-font-size: 18px;
	-fx-font-weight: bold;
	-fx-text-fill: -fx-bg-tertiary;
}

/*UPLOAD PAGE*/

.upload-btn {
    -fx-cursor: hand;
    -fx-background-color:-fx-bg-primary;
    	-fx-border-color: -fx-text-primary;
}

.upload-list {
    -fx-text-fill:black;
    -fx-background-color: -fx-bg-primary;
}
.upload-text{
    -fx-text-fill:black;
}

/*TAB MENU*/

.tab-btn {
    -fx-padding: 5px;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-width: 100%;
    -fx-alignment: center;
    -fx-background-radius: 4 0;
    -fx-cursor: hand;
}

/*CHART*/

.chart {
    -fx-background-color: -fx-bg-primary;
}

.chart-legend {
    -fx-text-fill: -fx-text-primary;;
    -fx-background-color: transparent;
}

.axis-label {
    -fx-font-size: 16px;
    -fx-text-fill: -fx-text-primary;
}

.axis {
    -fx-font-size: 8px;
    -fx-tick-label-fill: -fx-text-primary;
}

.chart-series-line {
    -fx-stroke-width: 2px;
    -fx-effect: null;
}

/*SETTINGS*/

.settings-section {
    -fx-padding: 10;
}

.settings-section-item-title {
    -fx-font-size: 18px;
}

.settings-section-title {
    -fx-font-size: 25px;
    -fx-font-weight: bold;
    -fx-border-style: hidden hidden solid hidden;
    -fx-border-width: 1;
    -fx-border-color: -fx-text-primary;
}

.settingLabel {
    -fx-font-size: 15px;
}

.settings-note {
    -fx-font-size: 15px;
    -fx-text-fill: -fx-text-secondary;
    -fx-font-style: italic;
}

/*JAVAFX COMPONENTS*/

/*date-picker*/
/*TO BE MADE REDUNDANT*/

.date-picker .cell {
    -fx-text-fill: black;
}

.date-picker .cell:hover {
	-fx-background-color: #004CBE;
}
.date-picker .cell:focused {
	-fx-background-color: #004CBE;
}
.date-picker .selected {
	-fx-background-color: #004CBE;
	-fx-text-fill: white;
}

.date-picker-popup .month-year-pane {
	-fx-background-color: #004CBE;
}
.date-picker-popup .month-year-pane .label {
	-fx-text-fill: black;
}

.date-picker .arrow-button .arrow {
	-fx-text-fill: black;
	-fx-cursor: hand;
}

.date-picker .arrow-button .arrow:hover {
	-fx-background-color: #004CBE;
}

/*combo box*/

.combo-box-base {
    -fx-text-fill: black;
    -fx-cursor: hand;
}

.combo-box .list-cell {
    -fx-text-fill: black;
    -fx-cursor: hand;
}

/*SNAPSHOT MENU*/

.snapshot-title {
    -fx-font-weight: bold;
    -fx-font-size: 17px;
}

.snapshot-new {
    padding: 10px;
}

.snapshot-btn {
    -fx-font-weight: bold;
    -fx-font-size: 18px;
    -fx-padding: 9 18 9 18;
	-fx-cursor: hand;
	-fx-margin: 3px;
	-fx-background-color: transparent;
	-fx-text-fill: -fx-text-primary;
}

.snapshot-close {
    -fx-background-color: red;
    -fx-text-fill: white;
    -fx-cursor: hand;
}

.snapshot-box {
    -fx-border-style: hidden hidden solid hidden;
    -fx-border-width: 1;
    -fx-border-color: -fx-text-primary;
}

.snapshot-box:hover {
    -fx-background-color: -fx-bg-tertiary;
}

/*GUIDES*/

.guide {
    -fx-padding: 20;
}

.scroll-pane {
    -fx-background-color: transparent;
    -fx-background: transparent;
}

.guide-name {
    -fx-padding: 5;
    -fx-font-size: 30px;
    -fx-font-weight: bold;
    -fx-border-style: hidden hidden solid hidden;
    -fx-border-width: 1;
    -fx-border-color: -fx-text-primary;
}

.guide-desc {
    -fx-padding: 5;
    -fx-font-style: italic;
    -fx-font-size: 18px;
}

.guide-link {
    -fx-font-size: 15px;
    -fx-text-fill: -fx-text-secondary;
    -fx-font-style: italic;
    -fx-cursor: hand;
}

.guide-step {
    -fx-font-size: 18px;
}

/*Dashboard*/

.table-view{
	-fx-background-color: -fx-bg-primary;
 }

.table-row-cell:empty {
	-fx-background-color: transparent;
	-fx-border-color: transparent;
} 

.table-view .column-header-background .filler {
    -fx-background-color: transparent;
}

.table-view .corner {
    -fx-background-color: transparent;
}

.table-view .column-header-background{
    -fx-background-color: linear-gradient(to bottom, #004CBE, #059fff);
    -fx-background-radius: 7px 7px 0px 0px;
    -fx-background-insets: 0 11px 0 0;
    -fx-padding: 0 0 5px 0;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .table-cell{
    -fx-border-color: transparent;
    -fx-padding: 2 0 2 10px;
}

.table-row-cell:odd{
    -fx-background-color: -fx-bg-tertiary;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}

.table-row-cell:even{
    -fx-background-color: #059fff;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}

.table-row-cell:highlighted {
    -fx-background-color: #81c483;
    -fx-background-radius: 15px;
}