
* {
    -fx-text-fill: white;
}

/*Standard*/

.bg-primary {
    -fx-background-color: #272822;
}

.bg-secondary {
    -fx-background-color: #232323;
}

.text-secondary {
    -fx-text-fill: #004CBE;
}

.transparent {
    -fx-background-color: transparent;
}

.text-input {
    -fx-text-fill: black;
    -fx-padding: 6px;
    -fx-border-radius: 5;
    -fx-font-size: 16px;
}

.black-txt > * {
    -fx-text-fill: black;
}

.buttonStyle {
    -fx-background-color: #004CBE;
    -fx-text-fill: #FFFFFF;
}


/*Main Menu*/

.menu-btn {
    -fx-background-color: #004CBE;
}

.menu-btn:hover {
    -fx-background-color: white;
    -fx-text-fill: #004CBE;
}

/*Campaign List*/

.campaign-list {
    -fx-background-color: #232323;
}

.cl-title {
    -fx-text-fill: #004CBE;
}

.cl-campaign:hover {
    -fx-text-fill: #004CBE;
}

.metric-btn {
    -fx-background-color: #232323;
    -fx-text-fill: #FFFFFF;
}

.metric-btn:hover {
    -fx-background-color: #004CBE;
}

.btn-active {
    -fx-background-color: white;
    -fx-text-fill: black;
}



/*LOAD PAGE*/

.load-page {
	-fx-background-color: #272822;
	-fx-text-fill: white;
}

/*FILTERS*/

.filter-sub-heading {
	-fx-text-fill: #059fff;
}

.upload-btn{
	-fx-background-color:#272822;
	-fx-border-color: white;
}

/*GENERAL*/

.topTitle {
	-fx-fill: white;
	-fx-stroke: black;
}

.topBackground {
	-fx-background-color: #202020;
}

.upload-list {
	-fx-background-color: #272822;
}

/*scroll bar*/

.scroll-bar {
    -fx-background-color: #232323;
}

/*Chart*/

.chart {
    -fx-background-color: #272822;
}

.chart-legend {
    -fx-text-fill: white;
    -fx-background-color: transparent;
}

.axis-label {
    -fx-text-fill: white;
}

.axis {
    -fx-tick-label-fill: white;
}

/*COMBO BOX*/

.settingLabel {
    -fx-font-size: 15px;
}

/*SETTINGS*/

.settings-section-title {
    -fx-border-color: white;
}

.combo-box-base {
    -fx-text-fill: black;
}

.combo-box .list-cell {
    -fx-text-fill: black;
}

