

.topTitle {
	-fx-fill: white;
	-fx-font-family: 'Sen';
	-fx-font-size: 40px;
	-fx-stroke: black;
	-fx-stroke-width: 0.5px;
}

.topBackground {
	-fx-background-color: #202020;
}

.sideBackground {
	-fx-background-color: #232323;
}

.buttonStyle {
    -fx-background-color: #004CBE;
    -fx-background-radius: 10;
    -fx-text-fill: #FFFFFF;
    -fx-font-weight: bold;
    -fx-font-size: 18px;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.6) , 3,0,0,2 );
    -fx-padding: 9 18 9 18;
	-fx-cursor: hand;
}

.advertButton {
	-fx-background-color: #002a69;
	-fx-background-radius: 5;
    -fx-text-fill: #FFFFFF;
	-fx-font-weight: bold;
	-fx-font-size: 20px;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.6) , 3,0,0,2 );
	-fx-padding: 32 18 32 18;
	-fx-cursor: hand;
    -fx-border-insets: 5px;
    -fx-background-insets: 5px;
}

.advertButton:focus {
	-fx-background-color: white;
}

.advertButton:hover {
	-fx-background-color: white;
	-fx-text-fill: #232323;
}

.campaign-list {
	-fx-font-size: 25px;
	-fx-font-weight: bold;
	-fx-padding: 15px;
	-fx-background-color: #272822;
	-fx-text-fill: white;
}

.metric-panel {
	-fx-background-color: #232323;
}



.metric-btn {
	-fx-background-color: red;
	-fx-width: 100%;
}

.filter-title {
	-fx-font-size: 16px;
}

.filter-sub-heading {
	-fx-font-size: 12px;
	-fx-font-weight: bold;
}

.upload-list {
	-fx-background-color: #272822;
}
.testStyle{
	-fx-background-color:#272822;
}

.chart {
	-fx-padding: 10px;
	-fx-font-size: 20;
	/*-fx-legend-visible: false;*/
}

.chart-content {
	-fx-padding: 30px;
}
  
.axis-label {
	-fx-text-fill: #000000;
}
  
.chart-legend {
	 -fx-background-color:  transparent;
	 -fx-font-weight: 500;
}
  
.chart-legend-item-symbol{
	 -fx-background-radius: 0;
}
  
  

