.topTitle {
	-fx-fill: white;
	-fx-font-family: 'Sen';
	-fx-font-size: 50px;
	-fx-stroke: black;
	-fx-stroke-width: 0.5px;
}

.topBackground {
	-fx-background-color: linear-gradient(#3b3DA9, #0A1769);
}

.sideBackground {
	-fx-background-color: #7B7B7B;
}

.buttonStyle {
    -fx-background-color: linear-gradient(#F57D49, #FB6C2E);
    -fx-background-radius: 10;
    -fx-text-fill: #FFFFFF;
    -fx-font-weight: bold;
    -fx-font-size: 18px;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.6) , 3,0,0,2 );
    -fx-padding: 9 18 9 18;
}

.advertButton {
	-fx-background-color: linear-gradient(#F7C17C, #DA861B);
	-fx-background-radius: 10;
    -fx-text-fill: #FFFFFF;
	-fx-font-weight: bold;
	-fx-font-size: 20px;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.6) , 3,0,0,2 );
	-fx-padding: 32 18 32 18;
}