<?xml version="1.0" encoding="UTF-8"?><config><settings><defaultMetric>IMPRESSION_COUNT</defaultMetric><theme>DARK</theme><factor>2</factor></settings><campaigns><campaign><name>2 Week</name><impPath>C:\Users\ipiri\OneDrive\Documents\Academic Projects\Ad-Auction-Files\ad-auction-dashboard-data\2_week_campaign_1\2_week_campaign_2\impression_log.csv</impPath><svrPath>C:\Users\ipiri\OneDrive\Documents\Academic Projects\Ad-Auction-Files\ad-auction-dashboard-data\2_week_campaign_1\2_week_campaign_2\server_log.csv</svrPath><clkPath>C:\Users\ipiri\OneDrive\Documents\Academic Projects\Ad-Auction-Files\ad-auction-dashboard-data\2_week_campaign_1\2_week_campaign_2\click_log.csv</clkPath></campaign></campaigns></config>